* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(0, 0, 33);
  color: white;
  color: white;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: rgb(0, 0, 50);
  /* height: 100px; */
}
.nav-link,
.navbar-brand {
  color: white;
}
.lavender{
  color: rgb(162, 162, 229);
}
a:hover,.nav-link:hover,
.navbar-brand:hover {
  color: rgb(162, 162, 229);
}
.text-primary{
  color: rgb(162, 162, 229);
}
.social-icons li {
  margin: 0px 10px;
}
ul {
  display: flex;
  justify-content: center;
}
ul li {
  list-style: none;
  margin: 0 23px;
}
a {
  color: white;
  text-decoration: none;
}

footer {
  display: flex;
  padding: 0 10vw;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: rgb(0, 0, 50);
}
footer ul {
  display: flex;
  justify-content: flex-end;
}
.width {
  width: 80vw;
  margin: auto;
}

.left {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.left img {
  margin: 0 12px;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  background: rgb(0, 0, 33);
}
.first-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
}
.left-section {
  font-size: 3rem;
}
.left-section div {
  width: 70%;
}

.right-section img {
  height: 70vh;
}
.purple {
  color: rgb(224, 15, 224);
}
main hr {
  border: none;
  height: 2px;
  /* width: 90vw; */
  margin: auto;
  background-color: rgb(224, 15, 224);
}
.second-section {
  align-items: center;
  width: 80vw;
  height: 90vh;
  margin: auto;
  margin-top: 50px;
}
.second-section h1 {
  font-size: 2rem;
  margin: 25px 0px;
}
.gray {
  color: gray;
}
.btn {
  border: 1.8px solid white;
  border-radius: 50px;
  margin-right: 10px;
  color: white;
  font-size: 1.01rem;
  background-color: rgb(0, 0, 50);
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: rgb(0, 0, 33);
}

.btn a {
  color: inherit;
  text-decoration: none;
}

.btn a:hover {
  color: rgb(0, 0, 33);
}

.buttons {
  margin-top: 63px;
}
.row {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  padding: 0;
  background: rgb(0, 0, 33);
  color: white;
  color: white;
  height: auto;
  font-family: "Poppins", sans-serif;
  border: 1px solid gray;
  margin: 30px 30px;
  width: 22%;
}
.fwt-bold {
  font-weight: 500;
}
/* form css */
#form-container {
  border: 1px solid gray;
  width: 30vw;
  height:  60vh;
  padding: 40px 100px;
}
.form-control {
  border: 2px solid rgb(0, 0, 0);
  background: rgb(188, 188, 188);
}
.form-control:focus {
  background: none;
  color: white;
}
.form-control:valid {
  color: white;
}
input {
  display: block;
  margin: 0 auto;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 15vw;
  text-align: center;
}
/* about us */
.as {
  align-items: center;
  margin: 10px auto;
}
.about-section {
  font-size: 3rem;
}
.about {
  color: gray;
  width: 30vw;
  text-align: justify;
  font-size: 1rem;
}

.about-img img {
  height: 56vh;
  margin-left: 30vw;
}
.service-cards {
  height: 85vh;
}
.service-cards img {
  height: 40vh;
}
/* Add CSS for small screens */
@media only screen and (max-width: 768px) {
  body {
    width: 100vw;
  }

  .width {
    width: 100vw;
  }
  main {
    width: 100%;
  }
  .first-section {
    width: 100vw;
    margin: 100px 20px;
  }
  .left-section {
    width: 100vw;
    font-size: 2rem;
    margin: 0;
  }
  .right-section {
    display: none;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .btn {
    width: 200px;
    height: 50px;
    margin-top: 40px;
  }

  .second-section {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    margin: 30px 30px;
    height: auto;
    width: 70%;
  }
  .btn {
    height: auto;
  }
  .footer-icons {
    display: none;
  }
  .about-section{
    width: 90vw;
  }
  .about{
    width: 70vw;
  }
  .about-img{
    display: none;
  }
  .as{
    height: 100vh;
  }
  #form-container {
    width: 80vw;
    height:  60vh;
    padding: 40px 0px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 50vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1350px) {
  .second-section {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .row {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    width: 35%;
    margin: 50px 0px;
  }
  .about{
    width: 40vw;
    height: auto;
  }
  .about-img{
    height: auto;
    width: 40vw;
    margin: 0;
  }
  .about-img img{
    margin-left: 10vw;
  }
  .as{
    height: 75vh;
  }
  #form-container {
    width: 80vw;
    padding: 40px 0px;
    height:  60vh;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 50vw;
  }

}
